<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head">
  </div>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>

<body>
  <nav th:replace="fragments/fragments :: nav" />
  <section class="container pt-5 mt-5">

    <h2>Connected users:</h2>

    <form method="post">
      <ul class="list-group" th:each="user : ${received}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a th:replace="fragments/fragments :: picture-name-link(user=${user})"/>
          <span>
            <span class="mr-3">
              Has requested to connect
            </span>
            <button class="btn btn-sm btn-success" name="username" th:formaction="@{/connections/accept}"
              th:value="${user.username}" type="submit">Accept</button>
            <button class="btn btn-sm btn-danger" name="username" th:formaction="@{/connections/decline}"
              th:value="${user.username}" type="submit">Decline</button>
          </span>
        </li>
      </ul>
      <ul class="list-group" th:each="user : ${requests}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a th:replace="fragments/fragments :: picture-name-link(user=${user})"/>
          <span>
            <span class="mr-2">
              Connection requested
            </span>
            <button class="btn btn-sm btn-dark ml-5" name="username" th:formaction="@{/connections/cancel}"
              th:value="${user.username}" type="submit">Cancel request</button>
          </span>
        </li>
      </ul>
      <ul class="list-group" th:each="user : ${connections}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a th:replace="fragments/fragments :: picture-name-link(user=${user})"/>
          <button class="btn btn-sm btn-dark" name="username" th:formaction="@{/connections/remove}"
            th:value="${user.username}" type="submit">Remove user</button>
        </li>
      </ul>
    </form>
  </section>

  <div th:replace="fragments/fragments :: scripts"></div>
</body>

</html>