<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head">
    <meta charset="UTF-8" />
    <title>Profile</title>
</head>

<body>
    <nav th:replace="fragments/fragments :: nav" />
    <section class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-3">
                <span th:replace="fragments/fragments :: picture" />
            </div>
            <div class="col-md-9 my-auto">
                <span class="h2" th:text="${user.name}">nimi</span>
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <div class="row">
            <h2>Skills</h2>
        </div>
        <div class="row">
            <h2>Connections</h2>
        </div>
    </section>


    <div th:replace="fragments/fragments :: scripts"></div>
</body>

</html>