<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head">
    </div>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
    <nav th:replace="fragments/fragments :: nav" />

    <section class="container pt-5 mt-5">
        <div th:if="${param.success}" class="alert alert-success">
            User account created. Please log in <a th:href="@{/login}">here</a>.
        </div>
        <form th:if="${param.success == null}" th:action="@{/register}" th:method="POST">
            <fieldset>
                <legend>New user:</legend>
                <div th:if="${param.error}" class="alert alert-error" role="alert">
                    Username already in use.
                </div>
                <div class="col-xs-2">
                    <label for="name">Name</label>
                    <input class="form-control mb-2 mr-sm-2 col-xs-2" type="text" id="name" name="name" />
                </div>
                <div class="col-xs-2">
                    <label for="username">Username</label>
                    <input class="form-control mb-2 mr-sm-2 col-xs-2" type="text" id="username" name="username" />
                </div>
                <div class="col-xs-2">
                    <label for="password">Password</label>
                    <input class="form-control mb-2 mr-sm-2 col-xs-2" type="password" id="password" name="password" />
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary mb-2" type="submit">Register</button>
                </div>
            </fieldset>
        </form>
        <p>Existing user? Login <a th:href="@{/login}">here</a></p>
    </section>

    <div th:replace="fragments/fragments :: scripts"></div>
</body>

</html>